.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(54, 54, 54, 0.95);
  outline: unset;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  overflow: hidden;
}

#elementBox {
  /* background-color: rgba(102, 51, 153, 0.506); */
  padding: 10px 0;
  width: 100%;
  overflow: auto;
  height: 88%;
}

/* ...............modalContent................. */
#notesArea {
  padding: 5px 15px;
  color: white;
  font-size: 18px;
  resize: unset;
  width: calc(100% - 30px);
  min-height: 100%;
  background: unset;
  border: unset;
  outline: unset;
}

.toDosBox {
  display: flex;
  align-items: center;
  background-color: rgba(24, 23, 23, 0.6);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.toDosBox:first-child {
  border-top: 1px solid #ccc;
}

.todosInputBox {
  color: white;
  font-size: 18px;
  padding: 10px;
  resize: vertical;
  outline: unset;
  width: 94%;
  background-color: unset;
  border: unset;
}

.todosInputBox:focus {
  background-color: rgb(49, 48, 48);
}

.todosIsDone {
  text-decoration: line-through;
  text-decoration-color: rgb(255, 182, 182);
  text-decoration-thickness: 2px;
}

#addTodos {
  margin: 20px 15px;
  padding: 5px;
  background-color: rgba(24, 23, 23, 0.6);
  color: white;
  border: 1px solid #ccc;
  width: fit-content;
  user-select: none;
  cursor: pointer;
}

/* ...............................mWeb............................. */
@media screen and (max-width: 768px) {
  #notesArea {
    font-size: 15px;
  }

  .todos {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  #notesArea,
  .todosInputBox {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .modal {
    width: 95%;
    height: 80%;
  }

  #notesArea,
  .todosInputBox {
    font-size: 14px;
  }

  .toDosBox {
    margin: 0 10px;
  }

  #addTodos {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 375px) {
  #searchBox {
    font-size: 13px;
    height: 23px;
  }

  .addNoteBtn {
    margin-right: 5px;
    padding: 7px;
    font-size: 11px;
  }

  #notesArea,
  .todosInputBox {
    font-size: 13px;
  }
}

@media screen and (max-height: 650px) and (min-height: 500px) {
  #elementBox {
    height: 84%;
  }
}

@media screen and (max-height: 500px) {
  #elementBox {
    height: 80%;
  }
}

@media screen and (max-height: 400px) {
  .modal {
    height: 95%;
  }
}
