body {
    text-align: center;
    margin: unset;
}

#inputBox {
    height: 22px;
    width: 300px;
    margin: 10px 0px;
    font-size: 105%;
    background-color: rgb(216, 215, 150);
}

#list div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    background-color: aquamarine;
    padding: 5px;
}

#list button{
    user-select: none;
}

.highlight {
    text-decoration: line-through;
    background-color: rgb(73, 170, 138) !important;
}