#notesModelBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(30, 30, 30);
  border-bottom: 1px solid #f1f1f1b0;
  padding: 5px 0px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  z-index: 10;
}

#title {
  font-size: 20px;
  margin-left: 20px;
  color: white;
  background-color: unset;
  border: unset;
  width: 300px;
}

#barImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 20px;
  color: white;
}

#closeBtn {
  margin-left: 30px;
  padding: 3px 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 18px;
    margin-left: 15px;
  }

  #closeBtn {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  #title {
    font-size: 18px;
    margin-left: 15px;
    width: 220px;
  }

  #barImg {
    margin-right: 10px;
  }

  #deleteBtn {
    margin-right: -10px;
  }

  #closeBtn {
    font-size: 13px;
    margin: unset;
  }
}

@media screen and (max-width: 400px) {
  #title {
    font-size: 16px;
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  #title {
    font-size: 14px;
    margin-left: 12px;
    width: 170px;
  }

  #deleteBtn {
    padding: unset;
    margin-right: 0px;
  }

  #saveBtn {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
