body{
 margin: unset;   
color: #f1f1f1;
}

#myIntro {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
    color: #f1f1f1;
    background-color: rgba(32, 30, 30,0.3);
    border-radius: 5px;
    margin: 80px auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
}

#myIntro span {
    color: rgba(255,0,0, .8);
}

#bhemu {
    font-size: 23px;
    font-weight: 500;
}

#aboutMe {
    margin: 10px auto;;
    background-color: rgb(61, 57, 57);
    border-radius: 5px;
    width: 70%;
    padding: 10px;
}

.title {
    width: fit-content;
    padding: 7px 10px !important;
    margin-bottom: 10px;
    /* text-align: center; */
    background-color: rgba(24, 23, 23, 0.781);
    border-radius: 5px;
    font-size: 22px ;
    font-weight: bold;
}

/*-----blank page animation-------*/
.welcome_msg
{		
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 500;
}

.line-1
{					    
    width: 150px;	    
    border-right: 2px solid rgba(255,255,255,.75);	    
    white-space: nowrap;
    overflow: hidden;	 
    font-family: mech;
}

.line-1 b
{
    color: #5cbbce;
}

/* Animation */
/* .anim-typewriter
{
     animation: typewriter 2s steps(30) normal,
                blinkTextCursor .7s ease-in-out infinite
}

.anim-typewriter-remove
{
      animation: typewriter_remove 2s steps(30) normal both,
             blinkTextCursor .7s ease-in-out infinite
} */

.anim-typewriter2
{
     animation: typewriter2 3s steps(30) normal,
                blinkTextCursor .7s ease-in-out infinite
}

.anim-typewriter-remove2
{
      animation: typewriter_remove2 3s steps(30) normal both,
             blinkTextCursor .7s ease-in-out infinite
}

@keyframes typewriter
{
    from{width: 0;}
    to{width: 150px;}
}

@keyframes typewriter_remove
{
    from{width: 150px;}
    to{width: 0px;}
}

@keyframes typewriter2
{
    from{width: 0;}
    to{width: 250px;}
}

@keyframes typewriter_remove2
{
    from{width: 250px;}
    to{width: 0px;}
}

@keyframes blinkTextCursor
{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

/* ...............................mWeb............................. */

/*tablet*/
@media screen and (max-width: 1150px) {
    #myIntro {
        font-size: 35px;
        top: 10%;
    }
    
    #aboutMe {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    #myIntro {
        display: block;
        font-size: 30px;
        width: 80%;
    }

}