.priceLessThan40000 {
  background-color: green;
}

.priceGreaterThan40000 {
  background-color: rgb(221, 76, 76);
}

#background {
  background-color: rgb(58, 56, 56);
}

#sreachBox {
  width: 95%;
  height: 35px;
  margin: 5px;
  padding-left: 10px;
  font-size: 110%;
  background-color: rgb(202, 201, 201);
}

#btns {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: white;
  padding: 5px 0;
}

#exportBtn,
#exportSelectedRowsBtn {
  background-color: green;
  padding: 0 20px;
  height: 32px;
}

#hideBtn {
  background-color: rgb(238, 68, 68);
  padding: 0 20px;
  height: 32px;
}

#selectionArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 32px;
  background-color: blue;
  border: 1px black solid;
}

#selectionArea div {
  margin-right: 10px;
}
