body {
    margin: unset;
}

#bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(24, 23, 23, 0.9);
    padding: 10px 0px;
    width: 100%;
    z-index: 10;
}

#title {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    background-color: unset;
    border: unset;
}

#title img {
    padding-left: 10px;
}

#delete {
    margin-right: 20px;
}

#background {
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

#notesArea {
    background-color: rgba(24, 23, 23, 0.6);
    margin: auto;
    margin-bottom: 50px;
    width: 96%;
    /* outline: auto; */
}

#textArea {
    display: block;
    padding: 5px 8px;
    color: white;
    font-size: 18px;
    border: 1px solid #ccc;
    resize: vertical;
    outline: unset;
    width: calc(100% - 16px);
    min-height: 80vh;
}