body {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    background-color: #f0f2f5;
}

#wrapper {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    border-radius: 5px;
    width: 360px;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

#form div input {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    background-color: #f0f2f5;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

hr {
    background: #dadde1 !important;
}

#login {
    background-color: #1877f2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 100%;
    margin-bottom: 10px;
}

.red {
    color: red;
    font-size: 80%;
}

.disableBtn {
    background-color: gray !important;
    pointer-events: none;
}

#createAcc {
    background-color: #42b72a !important;
    color: white;
    font-weight: 600;
    font-size: 100%;
    width: 50% !important;
    margin-top: 15px;
}

#signup {
    background-color: #42b72a !important;
    color: white;
    font-weight: 600;
    font-size: 100%;
    border-radius: 3px;
    padding: 10px;
    margin-top: 15px;
    width: 80%;
}